body{
    background-color: white;
}
p{
    font-size: 15pt;
    text-align: center;
}
.main-container{
    background-color: white;
    padding: 20px;
    width: 15%;
    position:relative;
    margin: 280px 650px;
    border: 0px solid black;
    border-radius: 10px;
}
.main-container:hover{
    background-color: white;
}
.tick{
    width: 50px;
    height: 50px;
    margin-left: 90px;
}